<html>
	<head>
	</head>
	<body>

		<form action="" method="post">
			<label>Url:</label>
			<input type="text" name="event[url]">
			<input type="submit" value="submit">
		</form>
		<hr />
		<% if defined? gender %>
			<div>
				<h3>EVENT: <%=event['name']%></h3>
				<h2>Attending</h2>
				<table>	
					<tr><td>male: </td><td> <%=gender[:attending][:male] %> (<%=gender[:ratio][:male] %>%)</td></tr>
					<tr><td>female: </td><td> <%=gender[:attending][:female] %> (<%=gender[:ratio][:female] %>%)</td></tr>
					<tr><td>unrecognized: </td><td> <%=gender[:attending][:unrecognized] %> (<%=gender[:ratio][:unrecognized] %>%)</td></tr>
					<tr><td></td> 
						<td>
							<small>
							<% gender[:attending][:unbucket].each do |name| %>
								<%= name %>,
							<% end %>
							</small>	
					 	</td>
					</tr>
				</table>

				<h2>Maybe</h2>
				<table>	
					<tr><td>male: </td><td> <%=gender[:maybe][:male] %> </td></tr>
					<tr><td>female: </td><td> <%=gender[:maybe][:female] %> </td></tr>
					<tr><td>unrecognized: </td><td> <%=gender[:maybe][:unrecognized] %> </td></tr>
					<tr><td></td> 
						<td>
							<small>
							<% gender[:maybe][:unbucket].each do |name| %>
								<%= name %>,
							<% end %>
							</small>	
					 	</td>
					</tr>
				</table>
			</div>
		<% end %>
	</body>
</html>